* {
    box-sizing: border-box;
}


body {

    margin:0;
    font-family: "Helvetica Neue", Arial, sans-serif;

    background:#111;
    color:#eee;

}


header {

    text-align:center;
    padding:80px 20px;

    border-bottom:1px solid #333;

}


header h1 {

    font-size:42px;
    font-weight:400;
    letter-spacing:2px;

}


header p {

    color:#aaa;
    font-size:18px;

}



main {

    max-width:750px;
    margin:auto;
    padding:50px 20px;

}



.post {

    background:#181818;

    margin-bottom:40px;

    border-radius:12px;

    overflow:hidden;

    border:1px solid #333;

}



.post img {

     width:80%;
    height:300px;

    object-fit:cover;

    display:block;
    margin:30px auto 0;

    border-radius:10px;


}



.content {

    padding:35px;

}


.content h2 {

    font-size:30px;

    font-weight:400;

}


.content p {

    color:#ccc;

    line-height:1.8;

    font-size:18px;

}


.content span {

    color:#888;

    font-size:14px;

}



footer {

    text-align:center;

    padding:40px;

    color:#777;

}
